@(name: String, idInput: String, nameInput: String, required: Boolean, value: Object, tipe: String)
    @inputBlock = {

        <div class="generalInfoInput">
            @if(required == true) {
                <label for="@nameInput">@name <span class="red bold">*</span></label>
            } else {
                <label for="@nameInput">@name</label>
            }

            @if(value == null) {
                <input type="@tipe" class="fInput" id="@idInput" name="@nameInput" placeholder="@name">
            } else {
                <input type="@tipe" class="fInput" id="@idInput" name="@nameInput" value="@value" readonly/>
            }
        </div>
    }
@inputBlock
