@(currentUser: femr.common.dtos.CurrentUser, viewModel:femr.ui.models.research.FilterViewModel)

@import femr.ui.views.html.layouts.main
@import femr.ui.controllers.routes.ResearchController
@import scala.collection.JavaConversions._
@import helper._



    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.versioned("css/research.css")">
    }
    @additionalScripts = {
        <script type="text/javascript" src="@routes.Assets.versioned("js/research/d3.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/research/d3.tip.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/research/saveSvgAsPng.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/research/filter-menu.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/research/bar-graph.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/research/pie-graph.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/research/line-graph.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/research/scatter-plot.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/research/stacked-bar.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/research/grouped-bar.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/research/table-chart.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/libraries/typeahead.bundle.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("js/research/research.js")"></script>
    }

@main("Research", currentUser, styles = additionalStyles, scripts = additionalScripts) {

        <div class="row dropdown">
            <div class="col-sm-3 col-md-2 sidebar">
                @helper.form(action = ResearchController.exportPost, 'id -> "graph-options") {
                    <div id="filter-errors">

                    </div>
                    <ul class="nav nav-sidebar">


                        <li id="gfilter-menu" class="menu-item">
                            <a class="opt-link">Filter Date</a>
                            <span class="val">
                                <span class="date">
                                   <span class="start">@viewModel.getStartDate()</span> - <span class="end">@viewModel.getEndDate()</span>
                                </span>
                            </span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <ul class="submenu">
                                <li>Start Date <input type="date" id="startDate"  value="@viewModel.getStartDate()" max="@viewModel.getEndDate()" /></li>
                                <li>End Date <input type="date" id="endDate" value="@viewModel.getEndDate()" max="@viewModel.getEndDate()" /></li>
                            </ul>
                        </li>


                        <li class="controls">

                                <span class="medication">
                                <label>Filter Trip</label>
                                    <select id="MissionTripId" name="MissionTripId" class="medication">
                                        <option selected id="default" value="-1">-- Select Trip --</option> @*Andrew Trip Filter*@
                                        @for(i <- 1 to viewModel.getMissionTrips.size) {
                                            @defining(viewModel.getMissionTrips.get(i - 1)) { missionItem =>
                                                @for(tripIndex <- 1 to missionItem.getMissionTrips.size) {
                                                    @defining(missionItem.getMissionTrips.get(tripIndex - 1)) { missionTrip =>
                                                        <option value = "@missionTrip.getId()"> @missionItem.getMissionTrips.get(tripIndex - 1).getFriendlyTripTitle </option>
                                                    }
                                                }
                                            }
                                        }
                                    </select>
                                </span>

                            <span class="filter">
                                <label>Filter Primary Dataset</label>
                                <input type="text" id="filterRangeStart" placeholder="Start" value="" /> &ndash;
                                <input type="text" id="filterRangeEnd"  placeholder="End" value="" />
                                <span id="filter-primary-clear" class="glyphicon glyphicon-remove"></span>
                            </span>

                        </li>
                        <li class="submit">
                            <input id="clear-button" class="clear fButton pull-left" type="button" value="Clear" />
                            <input id="submit-button" class="submit fButton pull-right" type="submit" value="Apply" />
                        </li>
                        <li class="export">
                            <input id="export-button" class="export fButton" type="button" value="Export Data"/>
                        </li>
                    </ul>
                }

            </div>

        </div>

}
